<div class="container mt-5">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-container">
          <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1536935338788-846bb9981813')">
            <div class="card-hover"></div>
          </div>
          <div class="card-title">
            <span><%= cocktail.name %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <ul>
  </ul>
</div>
