<div class="container mt-5">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-container">
            <% if cocktail.photo.attached? %>
              <div class="card-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
            <% else %>
              <div class="card-background" style="background-size: contain; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.dribbble.com/users/1828677/screenshots/6153056/cocktail2.gif')">
            <% end %>
              <div class="card-hover"></div>
            </div>
          <div class="card-title">
            <span><%= cocktail.name %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <ul>
  </ul>
</div>
