<div class="container mt-5">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)">
          <div class="hover">
            <%= cocktail.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <ul>
  </ul>
</div>
