<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <div class="navbar-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://cdn.dribbble.com/users/1828677/screenshots/6153056/cocktail2.gif" %>
      <% end %>
    </div>
    <div class="navbar-collapse hide-mobile" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline nav-form" action=<%= new_cocktail_path %>>
              <input id="banner-typed-text" type="text" name="cocktail-name" class="form-control" placeholder=""><button type="submit" class="cocktail-button">Create!</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="create-button">
  <%= link_to new_cocktail_path do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>
</div>
