.navbar-lewagon {
  justify-content: space-between;
  background: #EFEDEF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-logo {
  flex-grow: 1;
  text-align:center;
}

.navbar {
  padding-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}
