.navbar-lewagon {
  justify-content: space-between;
  background: #EFEDEF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-logo {
  flex-grow: 1;
  text-align:right;
}

.navbar {
  padding-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}

.nav-form {
  margin-top: 32px;
}

.nav-form input {
  background-color: transparent;
  text-align: right;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  border-radius: 0px;
  &:focus {
    background-color: transparent;
  }
  &::-webkit-input-placeholder {
    color: rgb(100, 100, 100);
  }
}

.nav-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.nav-form button {
  background-color: transparent;
  border: 1px solid #f49488;
  color: #f49488;
  border-radius: 0px;
  &:hover {
    color: #ffffff;
    background-color: #f49488;
  }
}


