.navbar-lewagon {
  justify-content: space-between;
  background: #EFEDEF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-logo {
  flex-grow: 1;
  text-align:center;
}

.navbar-brand {
  padding: 0px;
}

.nav-form {
  margin-top: 32px;
}

.nav-form input {
  background-color: transparent;
  text-align: right;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(100, 100, 100);
  border-radius: 0px;
  &:focus {
    background-color: transparent;
  }
  &::-webkit-input-placeholder {
    color: rgb(100, 100, 100);
  }
}

.nav-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.navbar .container {
  position: relative;
}

.cocktail-create {
  position: absolute;
  right: 16px;
}

.nav-form .form-control {
    width: auto!important;
  }

@media(max-width: 767px) {
  .cocktail-create {
    position: relative;
  }

  .navbar .container {
    flex-direction: column;
  }

  .nav-form {
    margin-top: 0px;
  }
}

